<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bohregard.updater">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true" android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name="com.bohregard.updater.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.bohregard.updater.service.TorrentFetch" android:process="" />

        <receiver android:name="com.bohregard.updater.receiver.OnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
